.DS_Store
notes.txt
os/os-env/
pcb
os/recorder.py
case


plasticity/*.plasticity
!plasticity/equip-1.plasticity

*-backups/
*-autosave.kicad_*
*.bak

fp-info-cache
*.kicad_prl

*.gbr
*.drl
*.pos
*.xml
*.csv
*.zip

fabrication-toolkit-options.json

*.stl
*.ttf

# Local notes
todo.md

# Buildroot generated artifacts and logs
buildroot/build.log
buildroot/logs/
buildroot/buildroot/
buildroot/scripts/minicom.log
