# SD card image for Equip-1 (Radxa Rock 2F / RK3528A)

image sdcard.img {
	hdimage {
		partition-table-type = "gpt"
	}

	partition uboot {
		in-partition-table = "false"
		image = "u-boot-rockchip.bin"
		offset = 32K
	}

	partition rootfs {
		partition-type-uuid = L
		image = "rootfs.ext2"
		bootable = true
	}
}
